/* common styles */

body{
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
    height: auto;
    
    
    
}
.outfit{
    font-family: "Outfit", sans-serif;;
}
.y-sans{
    font-family: "Young Serif", serif;
}
.main{
    display: flex;
     justify-content: center;
    align-items: center;
    height: 100%;
    padding: 100px;

}  
    
.container{
    width: 500px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.main-pic img{
    width: 100%;
    border-radius: 10px;
}
/* title section styles */
.title h3{
    font-weight:bold;
    font-size: 25px;
}
.title p{
    font-size: 12px;
    color: rgb(141, 136, 136);
}
/* prep time styles */

.prep-time{
    background-color:  hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 2px 15px;
    font-size: 12px;
}
.prep-time h4{
    color: hsl(332, 51%, 32%);
    font-size: 15px;
}

.prep-time ul {
    line-height: 25px;
    color:rgb(141, 136, 136) ;
    list-style: none;
}
.prep-time ul li::before{
    content: "\2022";
    color:hsl(332, 51%, 32%);
    font-weight: bolder;
    font-size: 13px;
    display: inline-block;
    width: 2.5em;
    margin-left: -2.5em;
    

}
.prep-time span{
    font-weight: bold;
    color:rgb(34, 32, 32) ;
}
/* ingrediants section styles */
.ingredient h3{
    color: hsl(14, 45%, 36%);
}
.ul-1{
line-height: 25px;
color:rgb(141, 136, 136) ;
list-style: none;
}
.ul-2::before{
    content:"\2022";
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
}
hr{
    height: 0.5px;
    border: 0;
    background-color:rgba(141, 136, 136, 0.349) ;
}
/* Instruction section styles */
.instruction h3{
    color: hsl(14, 45%, 36%);
}
.instruction ol{
    font-size: 13px;
    line-height:25px;
    font-weight: bold;
    color:hsl(14, 45%, 36%);
    margin-left: -1.5em;
}
.sp1{
    font-weight: bold;
    color: rgba(34, 32, 32, 0.726);
    }
.sp{
    font-weight:400;
    color:rgba(34, 32, 32, 0.726) ;
}

/* Nutrition section styles */
table{
    border-collapse: collapse;
    
}
table td{
    border-bottom: 1px solid rgba(141, 136, 136, 0.349) ;
    width: 250px;
    padding: 10px 20px;
    
}
table tr:last-child td{
    border:none;
}
.edit{
    color:rgba(34, 32, 32, 0.726) ;
    font-size: 12px;
}
.right-column{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}
.attribution{
    
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (max-width:640px) {
    body{
        background-color: hsl(0, 0%, 100%);
    }
    .main{
        display: block;
       
        height:auto;
        padding: 0;
     }  
     .container{
        width: auto;
        padding: 0px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 0px;
    }
    .main-pic img{
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }
    .mobile{
        padding: 20px;
    }
    .mobile-margin{
        margin: 20px;
    }
    .attribution{
    
        text-align: center;
        padding-top: 50px;
    }
}





















/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
